@model TodoViewModel
@using Humanizer

@{
    ViewData["Title"] = "Manage your todo list";
}

<div class="panel panel-default todo-panel">
  <div class="panel-heading">@ViewData["Title"]</div>

  <table class="table table-hover">
      <thead>
          <tr>
                <td align="center">&#x2714;</td>
                <td align="center">Item</td>
                <td align ="center">Start</td>
                <td align="center">Due</td>
                <td align="center">NumberOfDays</td>
          </tr>
      </thead>

      @foreach (var item in Model.Items)
      {
          <tr>
              <td align="center">
                <form asp-action="MarkDone" method="POST">
                  <input type="checkbox" class="done-checkbox">
                  <input type="hidden" name="id" value="@item.Id">
                </form>
              </td>

              <td align="center">@item.Title</td>
                <td align="center">@item.StartFrom.Humanize()</td>
                <td align="center">@item.DueAt.Humanize()</td>
              <td align="center">
                @if(@item.NumberOfDays.HasValue)
                    @item.NumberOfDays.Value
              </td>
                    <td align="center">@Html.ActionLink("Edit", "Edit", new { id=item.Id})</td>
          </tr>
      }
  </table>

    <!-- AddItemPartial is the AddItemPartial.cshtml  -->
  <div class="panel-footer add-item-form">
      @await Html.PartialAsync("AddItemPartial", new TodoItem())
  </div>
</div>

